<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- Method -->
    <add key="Method" value="POST"/> <!-- CREATE or POST -->

    <!-- Arguments required by CREATE -->
    <!--<add key="ConnectionString" value="Data Source=localdb;User Id=EM;Password=EM"/>-->
    <add key="ConnectionString" value="Data Source=.\SQLEXPRESS;Initial Catalog=Camelot_Test; User Id=camelot; Password=camelot;"/>
    <add key="DBProvider" value="MsSql2008"/> <!-- MsSql2008, MsSql2005, MsSql2000, Oracle10g, Oracle9i, Oracle8i, or OracleLite -->
    <add key="DBDictionaryOutFilePath" value="C:\iRINGWeb\AdapterService\XML\ABC.DatabaseDictionary.xml"/>
    
    <!-- Arguments required by POST -->
    <add key="AdapterServiceUri" value="http://localhost/AdapterService/Service.svc"/>
    <add key="ProjectName" value="12345_000"/>
    <add key="ApplicationName" value="ABC"/>
    <add key="DBDictionaryInFilePath" value="C:\iRINGWeb\AdapterService\XML\ABC.DatabaseDictionary.xml"/>    
  </appSettings>
</configuration>