@import "reset.css";

body {
  margin-left: 10px;
  background: #3C78AC url(../img/fade.png) repeat-x;
  font-family: Arial, Helvetica, Sans-Serif;
  font-size: 12;
  color: #30332D;
}

h1 {
  font-size: 200%;
}

li {
	text-align:left;
}

div.banner {
  /*margin-top: 10px;*/
  width: 662px;
}

div.banner h1 img {
  vertical-align: -25%;
}

div.main {
  margin-top: 18px;
  width: 662px;
}

form {
  margin-top: 10px;
  width: 662px;  
}

textarea {
  padding: 8px;
}

input.button {
  margin: 8px 0px 0px auto;
}

a {
  color: #3E62A6;
}

.x-tree-panel .x-grid-row .x-grid-cell-inner .treeClass 
{
  background-image: url("../img/class.png")  !important;
}

.x-tree-panel .x-grid-row .x-grid-cell-inner .treeTemplate 
{
  background-image: url("../img/template.png")  !important;
}

.x-tree-panel .x-grid-row .x-grid-cell-inner .treeRole
{
  background-image: url("../img/role.png")  !important;
}

.x-tree-panel .x-grid-row .x-grid-cell-inner .folder
{
  background-image: url("../img/folder.png")  !important;
}