<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=152368
  -->

<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <appSettings>
    <add key="AdapterServiceUri" value="http://localhost:54321/adapter"/>
    <add key="ReferenceDataServiceUri" value="http://localhost:54321/refdata"/>
    <add key="NHibernateServiceURI" value="http://localhost:54321/hibernate"/>
	<add key="DataServiceURI" value="http://localhost:54321/data"/>
    <add key="FacadeServiceUri" value="http://localhost:54321/facade/svc"/>
	<add key="JavaCoreUri" value="http://localhost:8080/services/dir"/>
    <add key="AppDataPath" value=".\App_Data\"/>
    <add key="Upload" value="..\iRINGTools.Services\App_Data\"/>
  </appSettings>
  
  <log4net>
    <appender name="AppsFile" type="log4net.Appender.RollingFileAppender">
      <file value="./Logs/Apps.log"/>
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

	<!--Log Levels include:
		0 FATAL
		1 ERROR
		2 WARN
		3 INFO
		4 DEBUG
		Messages from lower levels are included.  DEBUG will give you everything!
	-->
    <logger name="org.iringtools">
      <level value="WARN" />
      <appender-ref ref="AppsFile" />
    </logger>

  </log4net>
  
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Web.Mvc, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />        
      </assemblies>
    </compilation>

    <authentication mode="Forms">
      <forms loginUrl="~/Account/LogOn" timeout="2880" />
    </authentication>

    <pages>
      <namespaces>
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
      </namespaces>
    </pages>
    <httpRuntime requestValidationMode="2.0"/>
  </system.web>

  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true"/>
  </system.webServer>

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>

