<?xml version="1.0"?>
<configuration>

  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>

  <!--Service Setting Defaults
      Use the iRingTools Utilities ConfigurationTool.exe to create an encrypted "ProxyCredentialToken"
      Note that the proxy bypass list is a list of regular expressions and "." must be escaped. To bypass the proxy all addresses at .company.com would add "\.company\.com"
      Separate expressions in the bypass list with semi-colons, for example: "\.company\.com;10\.*;196\.168\.*"
      
    <add key="BaseDirectoryPath" value="AppDomain.CurrentDomain.BaseDirectory"/> 
    <add key="AppDataPath" value=".\App_Data\"/>
    <add key="ProxyCredentialToken" value=""/>
    <add key="ProxyHost" value=""/>
    <add key="ProxyPort" value=""/>
    <add key="ProxyBypassList" value="\.company\.com;10\.*;192\.168\.*" />
    <add key="IgnoreSslErrors" value="False"/>
  -->

  <!--Reference Data Setting Defaults
    <add key="SparqlPath" value=".\SPARQL\"/>
    <add key="PageSize" value="100"/>
    <add key="ClassRegistryBase" value="http://rdl.rdlfacade.org/data#"/>
    <add key="TemplateRegistryBase" value="http://tpl.rdlfacade.org/data#"/>
    <add key="ExampleRegistryBase" value="http://example.org/data#"/>
    <add key="UseExampleRegistryBase" value="False"/>
    <add key="RegistryCredentialToken" value=""/>-->

  <!--NHibernate Setting Defaults
    <add key="ExecutingAssemblyName" value="App_Code"/>
    <add key="BinaryPath" value=".\Bin\"/>
    <add key="CodePath" value=".\App_Code\"/>
    <add key="InternalPageSize" value="1000"/>-->

  <!--Adapter Setting Defaults
    <add key="InterfaceService" value="http://localhost/services/facade/query"/>
    <add key="ReferenceDataServiceUri value="http://localhost/services/refdata"/>
    <add key="JavaCoreUri" value="http://localhost/services/dir"/>    
    <add key="DefaultProjectionFormat" value="xml"/>
    <add key="EndpointTimeout value="30000"/>
    <add key="dotNetRDFServer" value=".\SQLEXPRESS"/>
    <add key="dotNetRDFCatalog" value="InterfaceDb"/>
    <add key="dotNetRDFUser" value="dotNetRDF"/>
    <add key="dotNetRDFPassword" value="dotNetRDF"/>
    <add key="TrimData" value="False"/>   
    <add key="DumpSettings" value="False"/>   
    <add key="ExecutingAssemblyName" value="App_Code"/>
    <add key="DefaultPageSize" value="25"/>-->

  <appSettings>
    <add key="dotNetRDFConfig" value="~/App_Data/config.ttl" />


  </appSettings>
  
  <log4net>
    <appender name="ServicesFile" type="log4net.Appender.RollingFileAppender">
      <file value="./Logs/Services.log"/>
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="10" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>

	<!--Log Levels include:
		0 FATAL
		1 ERROR
		2 WARN
		3 INFO
		4 DEBUG
		Messages from lower levels are included.  DEBUG will give you everything!
	-->
    <logger name="org.iringtools">
      <level value="WARN" />
      <appender-ref ref="ServicesFile" />
    </logger>
    <logger name="NHibernate.SQL">
      <level value="DEBUG"/>
      <appender-ref ref="ServicesFile"/>
    </logger>
  </log4net>

  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpHandlers>
      <add path="facade/*" verb="*" type="VDS.RDF.Web.SparqlServer" />
      <add path="sandbox/*" verb="*" type="VDS.RDF.Web.SparqlServer" />
    </httpHandlers>
    <httpRuntime maxQueryStringLength="2097150" requestValidationMode="2.0" />
    <pages validateRequest="false"/>
  </system.web>

  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxQueryString="81920" />
      </requestFiltering>
    </security>
    <handlers>
      <add name="/facade/*" path="facade/*" verb="*" type="VDS.RDF.Web.SparqlServer" />
      <add name="/sandbox/*" path="sandbox/*" verb="*" type="VDS.RDF.Web.SparqlServer" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="UrlRoutingModule" type="System.Web.Routing.UrlRoutingModule, System.Web, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>

  <system.serviceModel>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
    <standardEndpoints>
      <webHttpEndpoint>
        <standardEndpoint name=""
                          helpEnabled="true"
                          automaticFormatSelectionEnabled="true"
                          maxReceivedMessageSize="2147483647">
          <readerQuotas maxStringContentLength="2147483647"/>
        </standardEndpoint>
      </webHttpEndpoint>
    </standardEndpoints>
  </system.serviceModel>

</configuration>
