<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ProjectName" value="12345_000"/>
    <add key="ApplicationName" value="SPPID"/>
    <add key="ObjectType" value="equipment"/>
    <add key="FilterPath" value=".\App_Data\Filter.xml"/>
  </appSettings>
</configuration>