<config>
<datalayerName>org.iringtools.adapter.datalayer.NHibernateDataLayer, NHibernateLibrary</datalayerName>
<datalayerConfiguration>
  <databaseDictionary xmlns="http://www.iringtools.org/library" xmlns:i="http://www.w3.org/2001/XMLSchema-instance">
    <dataObjects>
      <dataObject>
        <tableName>EQUIPMENT</tableName>
        <objectName>EQUIPMENT</objectName>
        <keyProperties>
          <keyProperty>
            <keyPropertyName>TAG</keyPropertyName>
          </keyProperty>
        </keyProperties>
        <dataProperties>
          <dataProperty>
            <columnName>TAG</columnName>
            <propertyName>TAG</propertyName>
            <dataType>String</dataType>
            <dataLength>126</dataLength>
            <isNullable>false</isNullable>
            <keyType>assigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>INTERNAL_TAG</columnName>
            <propertyName>INTERNAL_TAG</propertyName>
            <dataType>String</dataType>
            <dataLength>100</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>ID</columnName>
            <propertyName>ID</propertyName>
            <dataType>String</dataType>
            <dataLength>10</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>AREA</columnName>
            <propertyName>AREA</propertyName>
            <dataType>String</dataType>
            <dataLength>10</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>TRAINNUMBER</columnName>
            <propertyName>TRAINNUMBER</propertyName>
            <dataType>String</dataType>
            <dataLength>5</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>EQTYPE</columnName>
            <propertyName>EQTYPE</propertyName>
            <dataType>String</dataType>
            <dataLength>50</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>EQPPREFIX</columnName>
            <propertyName>EQPPREFIX</propertyName>
            <dataType>String</dataType>
            <dataLength>20</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>EQSEQNO</columnName>
            <propertyName>EQSEQNO</propertyName>
            <dataType>String</dataType>
            <dataLength>62</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>EQPSUFF</columnName>
            <propertyName>EQPSUFF</propertyName>
            <dataType>String</dataType>
            <dataLength>10</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>EQUIPDESC1</columnName>
            <propertyName>EQUIPDESC1</propertyName>
            <dataType>String</dataType>
            <dataLength>200</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>EQUIPDESC2</columnName>
            <propertyName>EQUIPDESC2</propertyName>
            <dataType>String</dataType>
            <dataLength>120</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>CONSTTYPE</columnName>
            <propertyName>CONSTTYPE</propertyName>
            <dataType>String</dataType>
            <dataLength>25</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>EWP</columnName>
            <propertyName>EWP</propertyName>
            <dataType>String</dataType>
            <dataLength>26</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>USER1</columnName>
            <propertyName>USER1</propertyName>
            <dataType>String</dataType>
            <dataLength>50</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>USER2</columnName>
            <propertyName>USER2</propertyName>
            <dataType>String</dataType>
            <dataLength>50</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>USER3</columnName>
            <propertyName>USER3</propertyName>
            <dataType>String</dataType>
            <dataLength>50</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>TAGSTATUS</columnName>
            <propertyName>TAGSTATUS</propertyName>
            <dataType>String</dataType>
            <dataLength>16</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>COMMODITY</columnName>
            <propertyName>COMMODITY</propertyName>
            <dataType>String</dataType>
            <dataLength>50</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
        </dataProperties>
        <dataRelationships/>
      </dataObject>
      <dataObject>
        <tableName>INSTRUMENTS</tableName>
        <objectName>INSTRUMENTS</objectName>
        <keyProperties>
          <keyProperty>
            <keyPropertyName>TAG</keyPropertyName>
          </keyProperty>
        </keyProperties>
        <dataProperties>
          <dataProperty>
            <columnName>KEYTAG</columnName>
            <propertyName>KEYTAG</propertyName>
            <dataType>String</dataType>
            <dataLength>10</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>TAG</columnName>
            <propertyName>TAG</propertyName>
            <dataType>String</dataType>
            <dataLength>100</dataLength>
            <isNullable>false</isNullable>
            <keyType>assigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>TAG_NO</columnName>
            <propertyName>TAG_NO</propertyName>
            <dataType>String</dataType>
            <dataLength>100</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>TAG_CODE</columnName>
            <propertyName>TAG_CODE</propertyName>
            <dataType>String</dataType>
            <dataLength>16</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>ASSOC_EQ</columnName>
            <propertyName>ASSOC_EQ</propertyName>
            <dataType>String</dataType>
            <dataLength>30</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>IAREA</columnName>
            <propertyName>IAREA</propertyName>
            <dataType>String</dataType>
            <dataLength>10</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>ITRAIN</columnName>
            <propertyName>ITRAIN</propertyName>
            <dataType>String</dataType>
            <dataLength>5</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>ITYP</columnName>
            <propertyName>ITYP</propertyName>
            <dataType>String</dataType>
            <dataLength>10</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>INUM</columnName>
            <propertyName>INUM</propertyName>
            <dataType>String</dataType>
            <dataLength>10</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>ISUFFIX</columnName>
            <propertyName>ISUFFIX</propertyName>
            <dataType>String</dataType>
            <dataLength>10</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>MODIFIER1</columnName>
            <propertyName>MODIFIER1</propertyName>
            <dataType>String</dataType>
            <dataLength>20</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>MODIFIER2</columnName>
            <propertyName>MODIFIER2</propertyName>
            <dataType>String</dataType>
            <dataLength>20</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>MODIFIER3</columnName>
            <propertyName>MODIFIER3</propertyName>
            <dataType>String</dataType>
            <dataLength>20</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>MODIFIER4</columnName>
            <propertyName>MODIFIER4</propertyName>
            <dataType>String</dataType>
            <dataLength>20</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>STD_DETAIL</columnName>
            <propertyName>STD_DETAIL</propertyName>
            <dataType>String</dataType>
            <dataLength>50</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>DESCRIPT</columnName>
            <propertyName>DESCRIPT</propertyName>
            <dataType>String</dataType>
            <dataLength>200</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>TAG_TYPE</columnName>
            <propertyName>TAG_TYPE</propertyName>
            <dataType>String</dataType>
            <dataLength>16</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>CONST_TYPE</columnName>
            <propertyName>CONST_TYPE</propertyName>
            <dataType>String</dataType>
            <dataLength>25</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>COMP_ID</columnName>
            <propertyName>COMP_ID</propertyName>
            <dataType>String</dataType>
            <dataLength>50</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>PROJ_STAT</columnName>
            <propertyName>PROJ_STAT</propertyName>
            <dataType>String</dataType>
            <dataLength>16</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>PID_NO</columnName>
            <propertyName>PID_NO</propertyName>
            <dataType>String</dataType>
            <dataLength>20</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>LINE_NO</columnName>
            <propertyName>LINE_NO</propertyName>
            <dataType>String</dataType>
            <dataLength>20</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
        </dataProperties>
        <dataRelationships/>
      </dataObject>
      <dataObject>
        <tableName>VALVES</tableName>
        <objectName>VALVES</objectName>
        <keyProperties>
          <keyProperty>
            <keyPropertyName>TAG_NO</keyPropertyName>
          </keyProperty>
        </keyProperties>
        <dataProperties>
          <dataProperty>
            <columnName>KEYTAG</columnName>
            <propertyName>KEYTAG</propertyName>
            <dataType>String</dataType>
            <dataLength>10</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>TAG_NO</columnName>
            <propertyName>TAG_NO</propertyName>
            <dataType>String</dataType>
            <dataLength>100</dataLength>
            <isNullable>false</isNullable>
            <keyType>assigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>VAREA</columnName>
            <propertyName>VAREA</propertyName>
            <dataType>String</dataType>
            <dataLength>10</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>VTYP</columnName>
            <propertyName>VTYP</propertyName>
            <dataType>String</dataType>
            <dataLength>40</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>VTRAIN</columnName>
            <propertyName>VTRAIN</propertyName>
            <dataType>String</dataType>
            <dataLength>5</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>VNUM</columnName>
            <propertyName>VNUM</propertyName>
            <dataType>String</dataType>
            <dataLength>10</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>VSUFFIX</columnName>
            <propertyName>VSUFFIX</propertyName>
            <dataType>String</dataType>
            <dataLength>2</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>TAG_TYPE</columnName>
            <propertyName>TAG_TYPE</propertyName>
            <dataType>String</dataType>
            <dataLength>20</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>CONST_TYPE</columnName>
            <propertyName>CONST_TYPE</propertyName>
            <dataType>String</dataType>
            <dataLength>15</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>COMP_ID</columnName>
            <propertyName>COMP_ID</propertyName>
            <dataType>String</dataType>
            <dataLength>50</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>VSIZE</columnName>
            <propertyName>VSIZE</propertyName>
            <dataType>String</dataType>
            <dataLength>10</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>UOM_VSIZE</columnName>
            <propertyName>UOM_VSIZE</propertyName>
            <dataType>String</dataType>
            <dataLength>2</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>VSPEC_TYPE</columnName>
            <propertyName>VSPEC_TYPE</propertyName>
            <dataType>String</dataType>
            <dataLength>20</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>VSPEC_NUM</columnName>
            <propertyName>VSPEC_NUM</propertyName>
            <dataType>String</dataType>
            <dataLength>20</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>VPRESRATE</columnName>
            <propertyName>VPRESRATE</propertyName>
            <dataType>String</dataType>
            <dataLength>50</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>VCONDITION</columnName>
            <propertyName>VCONDITION</propertyName>
            <dataType>String</dataType>
            <dataLength>10</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>PID_NO</columnName>
            <propertyName>PID_NO</propertyName>
            <dataType>String</dataType>
            <dataLength>50</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>PROJ_STAT</columnName>
            <propertyName>PROJ_STAT</propertyName>
            <dataType>String</dataType>
            <dataLength>16</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
        </dataProperties>
        <dataRelationships/>
      </dataObject>
      <dataObject>
        <tableName>LINES</tableName>
        <objectName>LINES</objectName>
        <keyProperties>
          <keyProperty>
            <keyPropertyName>TAG</keyPropertyName>
          </keyProperty>
        </keyProperties>
        <dataProperties>
          <dataProperty>
            <columnName>TAG</columnName>
            <propertyName>TAG</propertyName>
            <dataType>String</dataType>
            <dataLength>100</dataLength>
            <isNullable>false</isNullable>
            <keyType>assigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>ID</columnName>
            <propertyName>ID</propertyName>
            <dataType>String</dataType>
            <dataLength>10</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>AREA</columnName>
            <propertyName>AREA</propertyName>
            <dataType>String</dataType>
            <dataLength>10</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>TRAINNUMBER</columnName>
            <propertyName>TRAINNUMBER</propertyName>
            <dataType>String</dataType>
            <dataLength>5</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>SPEC</columnName>
            <propertyName>SPEC</propertyName>
            <dataType>String</dataType>
            <dataLength>10</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>SYSTEM</columnName>
            <propertyName>SYSTEM</propertyName>
            <dataType>String</dataType>
            <dataLength>20</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>LINENO</columnName>
            <propertyName>LINENO</propertyName>
            <dataType>String</dataType>
            <dataLength>15</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>NOMDIAMETER</columnName>
            <propertyName>NOMDIAMETER</propertyName>
            <dataType>Double</dataType>
            <dataLength>15</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>INSULATIONTYPE</columnName>
            <propertyName>INSULATIONTYPE</propertyName>
            <dataType>String</dataType>
            <dataLength>12</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>HTRACED</columnName>
            <propertyName>HTRACED</propertyName>
            <dataType>String</dataType>
            <dataLength>8</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>CONSTTYPE</columnName>
            <propertyName>CONSTTYPE</propertyName>
            <dataType>String</dataType>
            <dataLength>10</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>DESPRESSURE</columnName>
            <propertyName>DESPRESSURE</propertyName>
            <dataType>String</dataType>
            <dataLength>50</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>TESTPRESSURE</columnName>
            <propertyName>TESTPRESSURE</propertyName>
            <dataType>String</dataType>
            <dataLength>8</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>PWHT</columnName>
            <propertyName>PWHT</propertyName>
            <dataType>String</dataType>
            <dataLength>20</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>TESTMEDIA</columnName>
            <propertyName>TESTMEDIA</propertyName>
            <dataType>String</dataType>
            <dataLength>20</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>MATLTYPE</columnName>
            <propertyName>MATLTYPE</propertyName>
            <dataType>String</dataType>
            <dataLength>20</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>NDT</columnName>
            <propertyName>NDT</propertyName>
            <dataType>String</dataType>
            <dataLength>10</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>NDE</columnName>
            <propertyName>NDE</propertyName>
            <dataType>String</dataType>
            <dataLength>30</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>PIPECLASS</columnName>
            <propertyName>PIPECLASS</propertyName>
            <dataType>String</dataType>
            <dataLength>20</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>PIDNUMBER</columnName>
            <propertyName>PIDNUMBER</propertyName>
            <dataType>String</dataType>
            <dataLength>50</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>DESTEMPERATURE</columnName>
            <propertyName>DESTEMPERATURE</propertyName>
            <dataType>String</dataType>
            <dataLength>50</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>PAINTSYSTEM</columnName>
            <propertyName>PAINTSYSTEM</propertyName>
            <dataType>String</dataType>
            <dataLength>12</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>DESIGNCODE</columnName>
            <propertyName>DESIGNCODE</propertyName>
            <dataType>String</dataType>
            <dataLength>10</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>COLOURCODE</columnName>
            <propertyName>COLOURCODE</propertyName>
            <dataType>String</dataType>
            <dataLength>25</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>EWP</columnName>
            <propertyName>EWP</propertyName>
            <dataType>String</dataType>
            <dataLength>26</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>USER1</columnName>
            <propertyName>USER1</propertyName>
            <dataType>String</dataType>
            <dataLength>50</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>TAGSTATUS</columnName>
            <propertyName>TAGSTATUS</propertyName>
            <dataType>String</dataType>
            <dataLength>16</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>FULLLINE</columnName>
            <propertyName>FULLLINE</propertyName>
            <dataType>String</dataType>
            <dataLength>140</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>UOM_NOMDIAMETER</columnName>
            <propertyName>UOM_NOMDIAMETER</propertyName>
            <dataType>String</dataType>
            <dataLength>20</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>UOM_DESPRESSURE</columnName>
            <propertyName>UOM_DESPRESSURE</propertyName>
            <dataType>String</dataType>
            <dataLength>20</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
          <dataProperty>
            <columnName>UOM_DESTEMPERATURE</columnName>
            <propertyName>UOM_DESTEMPERATURE</propertyName>
            <dataType>String</dataType>
            <dataLength>20</dataLength>
            <isNullable>true</isNullable>
            <keyType>unassigned</keyType>
          </dataProperty>
        </dataProperties>
        <dataRelationships/>
      </dataObject>
    </dataObjects>
    <provider>MsSql2008</provider>
    <connectionString>Data Source=localhost;Initial Catalog=ABC;User ID=abc;Password=abc;</connectionString>
    <schemaName>dbo</schemaName>
  </databaseDictionary>
</datalayerConfiguration>
</config>