<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- DO Change data source ONLY. -->
    <!-- DO NOT Change User Id, Password or Catalog. These are not directly used. The adapter will create new catalogs and users.-->
    <add key="TripleStoreConnectionString" value="sqlserver:rdf:Database=rdf;data source=.\SQLEXPRESS; Initial Catalog=master; User Id=iring; Password=iring;"/>
  </appSettings>
</configuration>