<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Method" value="Export"/> <!--Import or Export-->
    <add key="DBServer" value="localhost"/>
    <add key="DBName" value="InterfaceDb"/>
    <add key="DBUser" value="rdladmin"/>
    <add key="DBPassword" value="Lm!1N2w"/>
    <add key="RdfImportFullFilename" value="f:\pathToFile\rdfToImport.rdf"/>
    <add key="RdfExportFullFilename" value="F:\Projects\RdfConverter\ConsoleApplication1\exported.rdf"/>
    <!-- PLEASE NOTE
    If you intend to operate on the "dotnetrdf:default-graph" 
    then leave the GraphUri balnk or comment it out.... Also "dotnetrdf:default-graph" is not a
    valid uri so it must not be specified anywhere ..... not even in the code
    -->
    <add key="GraphUri" value="http://iring.hatch.com.au/12345_000/PSPID/Lines"/> 
    <add key="ClearBeforeImport" value="true"/>
  </appSettings>
</configuration>
