<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="DefaultAdapterURL" value="http://localhost/Services/adapter"/>
    <add key="DefaultFacadeURL" value="http://localhost/Services/facade/sparql/query"/>
    <!--<add key="ProxyCredentialToken" value=""/>
    <add key="ProxyHost" value=""/>
    <add key="ProxyPort" value=""/>-->
  </appSettings>
</configuration>
