<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SPPIDSiteConnectionString" value="dXeAKFrTcBCylXCURu6qc0VJo7/F4UdhWR0h4ccGtGkLYgwN5dcLsSe3QFXNK6oKlLBqeBCoIBOvkNUcdECGuPqIr1EQSwlDxPc/FaL3+Vjka/q65nhfJhEMrVf6+SEGnE3cTwzdjO6p4sqM6qh0exA4hjKdzEsy7BdNTTJaDRpXT+Mu+oTmJs7dGzLgZLEcxbuBF5uwEQVanF+U3a6VykYuPKYNA3V157YZuz4/uhYk2YtpymYjUEckW6cXtrk3" />
    <add key="SPPIDPlantConnectionString" value="dXeAKFrTcBCylXCURu6qc0VJo7/F4UdhWR0h4ccGtGkLYgwN5dcLsSe3QFXNK6oKlLBqeBCoIBOvkNUcdECGuPqIr1EQSwlDxPc/FaL3+Vjka/q65nhfJhEMrVf6+SEGnE3cTwzdjO6p4sqM6qh0exA4hjKdzEsy7BdNTTJaDRpXT+Mu+oTmJs7dGzLgZLEcCiNb+lz7YASL8Dox4C96J6CpovbZOthT+ikTAZN77mIMv1wydP9/e0T8XJQ7Qfvas9W2Sd54YQq1Q6gjPThvxA==" />
    <add key="PlantDataDicConnectionString" value="dXeAKFrTcBCylXCURu6qc0VJo7/F4UdhWR0h4ccGtGkLYgwN5dcLsSe3QFXNK6oKlLBqeBCoIBOvkNUcdECGuPqIr1EQSwlDxPc/FaL3+Vjka/q65nhfJhEMrVf6+SEGnE3cTwzdjO6p4sqM6qh0exA4hjKdzEsy7BdNTTJaDRpXT+Mu+oTmJs7dGzLgZLEcCiNb+lz7YASL8Dox4C96J0+J72lpyPhTQAAgnptdfdQ9Bk9wMdyuEUAZwyaDwazt3p4x3tDc1omMFA4FWgzh4A==" />
    <add key="PIDConnectionString" value="dXeAKFrTcBCylXCURu6qc0VJo7/F4UdhWR0h4ccGtGkLYgwN5dcLsSe3QFXNK6oKlLBqeBCoIBOvkNUcdECGuPqIr1EQSwlDxPc/FaL3+Vjka/q65nhfJhEMrVf6+SEGnE3cTwzdjO6p4sqM6qh0exA4hjKdzEsy7BdNTTJaDRpXT+Mu+oTmJs7dGzLgZLEcCiNb+lz7YASL8Dox4C96J2lejOWK5iFbrEa5ZDEx4RyE4ZMf5PKnQesH2CJ2SdFtzaFqkVcEINTKyqTk+0SbDA==" />
    <add key="PIDDataDicConnectionString" value="dXeAKFrTcBCylXCURu6qc0VJo7/F4UdhWR0h4ccGtGkLYgwN5dcLsSe3QFXNK6oKlLBqeBCoIBOvkNUcdECGuPqIr1EQSwlDxPc/FaL3+Vjka/q65nhfJhEMrVf6+SEGnE3cTwzdjO6p4sqM6qh0exA4hjKdzEsy7BdNTTJaDRpXT+Mu+oTmJs7dGzLgZLEcCiNb+lz7YASL8Dox4C96J2CoIgnqmBt/21H+JT2eoo9vDLmMDWTerz3/lNEFEBaUhkrMT/9IsjzASVxpyQ0u8w==" />
    <add key="iRingStagingConnectionString" value="8OvijUTyF2UiMGIHzmtWzSOG5mHYNjRHCLs0fnOaoWOV+/AbbMB0MgHyfe3OQINrbphMILh3VMqIW74wYdaF8UrgRNZ9issWZiGQnNQvT2+yzMZZeMpsNOqotHaZs2gb" />
  </appSettings>
</configuration>