<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SPPIDConnectionString" value="server=NDHD06670\SQLEXPRESSW;database=NDPILOTSITE;User ID=SPPID;Password=sppid"/>
    <add key="SPPIDSiteConnectionString" value="user id=sa;password=manager;Data Source=NDHD06670\SQLEXPRESSW;Initial Catalog=SPPID_Project"/>
    <add key="SPPIDPlantConnectionString" value="user id=sa;password=manager;Data Source=NDHD06670\SQLEXPRESSW;Initial Catalog=SPPID_Project_Plant"/>
    <add key="SPPIDSiteNode" value="\\ndhst5014\SPPID\Site\smartplantv4.ini"/>
    <add key="SPPIDProjectNumber" value="NDPILOTSITE"/>
    <add key="PicklistDataLength" value="1000"/>
    <add key="iRingStagingConnectionString" value="Data Source=NDHD06670\SQLEXPRESSW;Initial Catalog=PW_iRing_Staging;Integrated Security=True"/>
  </appSettings>
</configuration>
