<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="SPPIDConnectionString" value="Data Source=stonegate;Initial Catalog=SPPID_MEA_Eklutna;Integrated Security=True"/>
	<add key="SPPIDSiteConnectionString" value="Data Source=StoneGate;Initial Catalog=SPPID_SITE;Integrated Security=True"/>
    <add key="SPPIDSiteNode" value="\\ndhst5014\SPPID\smartplantv4.ini"/>
    <add key="SPPIDProjectNumber" value="SPPID_MEA_Eklutna"/>
    <add key="PicklistDataLength" value="1000"/>
	<add key="iRingStagingConnectionString" value="Data Source=cvo31053805\sqlexpress;Initial Catalog=SPPID_Staging;Integrated Security=True"/>
  </appSettings>
</configuration>