<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Method" value=""/> <!--Import or Export-->
    <add key="ClearBeforeImport" value="True"/> <!-- Import only -->
    <add key="DBServer" value=""/>
    <add key="DBName" value=""/>
    <add key="DBUser" value=""/>
    <add key="DBPassword" value=""/>
    <add key="RdfImportFullFilename" value=""/>
    <add key="RdfExportFullFilename" value=""/>
    <add key="GraphUri" value=""/><!--blank if default graph to be used-->
  </appSettings>
</configuration>
