<log4net>
  <appender name="LogFile" type="log4net.Appender.RollingFileAppender">
    <file value="./TestResult.txt"/>
    <appendToFile value="true" />
    <maximumFileSize value="100KB" />
    <maxSizeRollBackups value="1" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
    </layout>
  </appender>

  <logger name="org.iringtools">
    <level value="DEBUG" />
    <appender-ref ref="LogFile" />
  </logger>
</log4net>