<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ExcelFilePath" value=""/>
    <add key="TargetRepositoryName" value=""/>
    <add key="RefdataServiceUri" value=""/>
    <add key="ClassRegistryBase" value="http://rdl.rdlfacade.org/data#"/>
    <add key="TemplateRegistryBase" value="http://tpl.rdlfacade.org/data#"/>
    <add key="TestRegistryBase" value="http://example.org/data#"/>
    <add key="UseTestRegistry" value="True"/>
    <add key="ProxyHost" value=""/>
    <add key="ProxyPort" value=""/>
    <add key="ProxyCredentialToken" value=""/>
    <add key="UpdateRun" value=""/> <!-- any value will set to true-->
    <add key="IgnoreSslErrors" value="True"/>
  </appSettings>
</configuration>