<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Provider" value="ORACLE10g" />
    <add key="SPPIDSiteConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=NDHST5005)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=NDHPTST)));User ID=FOS_SITE;Password=FOS_SITE"/>
    <add key="SPPIDPlantConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=NDHST5005)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=NDHPTST)));User ID=RUSSELCITYPILOT;Password=RUSSELCITYPILOT" />
    <add key="PlantDataDicConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=NDHST5005)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=NDHPTST)));User ID=RUSSELCITYPILOTD;Password=RUSSELCITYPILOTD" />
    <add key="PIDConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=NDHST5005)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=NDHPTST)));User ID=RUSSELCITYPILOTPID;Password=RUSSELCITYPILOTPID " />
    <add key="PIDDataDicConnectionString" value="Data Source=(DESCRIPTION=(ADDRESS_LIST=(ADDRESS=(PROTOCOL=TCP)(HOST=NDHST5005)(PORT=1521)))(CONNECT_DATA=(SERVER=DEDICATED)(SID=NDHPTST)));User ID=RUSSELCITYPILOTPIDD;Password=RUSSELCITYPILOTPIDD" />
    <add key="iRingStagingConnectionString" value="Data Source=NDHD06635\SQLEXPRESS;Initial Catalog=PW_iRing_Staging;User ID=sa;Password=abc" />
  </appSettings>
</configuration>